# Byte-compiled / cached files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.venv/
Pipfile
Pipfile.lock

# Logs and database
*.log
*.sqlite3

# OS-specific files
.DS_Store
Thumbs.db

# Uploads (sound and rulebooks)
uploads/

# IDE/editor files
.vscode/
.idea/
*.iml

# Ignore pytest cache
.pytest_cache/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore coverage reports
htmlcov/
.coverage
.cache
nosetests.xml
coverage.xml

# Ignore compiled Cython files
*.so

# Ignore Flask session files
instance/
.env

# Heroku and Node build artifacts
node_modules/
build/
dist/
